@font-face {
    font-family: "1942";
	src: url('../assets/typo/1942.ttf');
}

@font-face {
    font-family: "veteran Typewriter";
	src: url('../assets/typo/veterantypewriter.ttf');
}

@font-face {
    font-family: "Traveling Typewriter";
	src: url('../assets/typo/TravelingTypewriter.ttf');
}